# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
oak-template/.env
oak-template/.cache/
oak-template/.depthai_cached_models/
oak-template/oak2-env/
oak-template/venv/
oak-template/__pycache__/
oak-template/utils/__pycache__/
oak-template/.cache/*
oak-template/oak2-env/*
oak-template/utils/__pycache__/*
oak-template/.depthai_cached_models/*

# Do NOT ignore the example file (optional but recommended)
!.env.example
